<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header class="d-flex justify-content-between">
    جواب ها
    <button nbButton status="success" (click)="createSpeech()">افزودن جواب</button>
  </nb-card-header>
  <nb-card-body>
    <table mat-table [dataSource]="data" class="example-table">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef class="text-center">ردیف</th>
        <td mat-cell *matCellDef="let row ;let i=index">{{ i+1 }}</td>
      </ng-container>

      <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef>متن</th>
        <td mat-cell *matCellDef="let row">{{ row.text }}</td>
      </ng-container>

      <ng-container matColumnDef="wav">
        <th mat-header-cell *matHeaderCellDef>فایل صوتی</th>
        <td mat-cell *matCellDef="let row">
          <audio controls class="mt-1 col" preload="metadata">
            <source [src]="srcAudio + row.wav_path" type="audio/wav">
            Your browser does not support the audio element.
          </audio>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef style="text-align:center">ویرایش</th>
        <td mat-cell *matCellDef="let row">
          <button nbButton status="primary" (click)="edit(row)" ghost>
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef style="text-align:center">حذف</th>
        <td mat-cell *matCellDef="let row">
          <button nbButton status="danger" (click)="delete(row.id)" ghost>
            <nb-icon icon="trash-outline"></nb-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="length == 0" class="my-4 text-muted text-center">
      اطلاعاتی برای نمایش وجود ندارد
    </div>
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center px-5">
        <p class="my-auto mx-2 font-12px">تعداد نمایش در صفحه:</p>
        <nb-select status="basic" selected="25" size="small" [(ngModel)]="limit" (ngModelChange)="refreshData()">
          <nb-option value="25">25</nb-option>
          <nb-option value="50">50</nb-option>
          <nb-option value="100">100</nb-option>
        </nb-select>
      </div>
      <mat-paginator class="col-6" [length]="length" [pageSize]="pageLimit" [pageIndex]="pageIndex" hidePageSize="true"
        (page)="pageEvent = $event" (page)="refreshData()">
      </mat-paginator>
    </div>
  </nb-card-body>
</nb-card>
