table {
  width: 100%;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

.mat-column-number {
  width: 50px;
  padding-right: 0px !important;
  margin-right: 0;
  text-align: center;
  border-left: #0000001a solid 1px;
}

.mat-column-text {
  border-left: #0000001a solid 1px;
  padding-right: 5px !important;
  padding-left: 10px !important;
}
.mat-column-wav {
  min-width: 400px;
  border-left: #0000001a solid 1px;
  padding-right: 5px !important;
  padding-left: 10px !important;
}
.mat-column-edit {
  min-width: 70px;
  border-left: #0000001a solid 1px;
  text-align: center;
}
.mat-column-delete {
  min-width: 70px;
  padding-left: 0px !important;
  margin-right: 0;
  text-align: center;
}
button {
  margin: 0 !important;
}
