<nb-card dir="rtl" class="m-0">
  <nb-card-header>ویرایش سوال</nb-card-header>
  <nb-card-body>
    <div>
      <label>سوال:</label>
      <textarea nbInput fullWidth placeholder="سوال" [(ngModel)]="question.text"
        [status]="question.text.length ? 'basic':'danger'"></textarea>
    </div>
    <hr>
    <div>
      <label>کلیدواژه:</label>
      <nb-tag-list (tagRemove)="onTagRemove($event)">
        <nb-tag *ngFor="let tag of question.keywords" [text]="tag" removable></nb-tag>
        <input type="text" nbTagInput (tagAdd)="onTagAdd($event)" fullWidth
          [status]="question.keywords.length ? 'basic':'danger'">
      </nb-tag-list>
    </div>
    <hr>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between">
      <button nbButton status="success" (click)="onSubmit()">
        ثبت
      </button>
      <button nbButton status="danger" (click)="cansel()">
        انصراف
      </button>
    </div>
  </nb-card-footer>
</nb-card>
