<nb-card dir="rtl" style="width: 800px;" class="m-0">
  <nb-card-header>{{data.title||'ویرایش سوال'}}</nb-card-header>
  <nb-card-body>
    <div>
      <label>سوال:</label>
      <textarea nbInput fullWidth placeholder="سوال" [(ngModel)]="data.body.title"></textarea>
    </div>
    <hr>
    <div>
      <label>پاسخ:</label>
      <textarea nbInput fullWidth placeholder="پاسخ" [(ngModel)]="data.body.text"></textarea>
    </div>
    <hr>
    <div>
      <label>کلیدواژه:</label>
      <nb-tag-list (tagRemove)="onTagRemove($event)">
        <nb-tag *ngFor="let tag of keyword" [text]="tag" removable></nb-tag>
        <input type="text" nbTagInput (tagAdd)="onTagAdd($event)" fullWidth>
      </nb-tag-list>
    </div>
    <hr>
    <div>
      <label>فایل:</label>
      <br>
      <div *ngIf="data.body.file_name">
        <audio controls class="col-12">
          <source src="{{data.body.file_name}}" type="audio/wav">
        </audio>
        <br>
        <label>جایگزینی:</label>
      </div>
      <input type="file" fullWidth>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between">
      <button nbButton status="success" (click)="onSubmit()">
        ثبت
      </button>
      <button nbButton status="danger" (click)="cansel()">
        انصراف
      </button>
    </div>
  </nb-card-footer>
</nb-card>
